/*--------------------------------------------------------------
# Blogs
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.blogtit{
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #01036f;
    text-align: center;
    text-decoration: underline #01036f;
    position: absolute;
    left: 0%;
    right: -0.26%;
    top: 0%;
    bottom: 80.27%;
}

.blogbod {
    font-family: "Quicksand", sans-serif;
    display: grid;
    place-items: center;
}

.blogcont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
}

.card__image {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.cards {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.cards__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
}

.tag+.tag {
    margin-left: .5em;
}

.tag-blue {
    background: #56CCF2;
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    color: #fafafa;
}

.tag-brown {
    background: #D1913C;
    background: linear-gradient(to bottom, #FFD194, #D1913C);
    color: #fafafa;
}

.tag-red {
    background: #cb2d3e;
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
}

.cards__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.cards__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
}

.user {
    display: flex;
    gap: .5rem;
}

.user__image {
    border-radius: 50%;
}

.user__info>small {
    color: #666;
}

/*--------------------------------------------------------------
#Upcoming Event Cards
--------------------------------------------------------------*/
.carde {
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
  border-radius: 30px;
  background: #000000;

}

.carde-body {
  background: #000000;
}

.carde-footer {
  background: #171717;
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
}

.carde-header {
  border-radius: 30px !important;
  border: 0px;
  background: #000000;
}

.carde-header img {
  border-radius: 30px;

}
